<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span> 
          <a class="navbar-brand" href="#">Mon Ecommerce</a>
          </button>

        </div>


      <ul class="nav navbar-nav  navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              
              <!-- Boucle ppur afficher toutes les categories -->
              <% for(var i= 0; i< categories.length; i++){ %>

              <li><a class="dropdown-item" href="/products/<%= categories[i]._id %>"><%= categories[i].name %></a></li>
              
            <% } %>
              
            </ul>
          </li>


        
        <% if(!user) {%>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inscription/Connexion</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" href="/signup">S'incrire</a></li>
              <li><a class="dropdown-item" href="/login">Se Connecter</a></li>
            </ul>
          </li>
        <% } else{ %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= user.profile.name %></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                <li><a class="dropdown-item" href="/profile">Profil</a></li>
                <li><a class="dropdown-item" href="/logout">Se déconnecter</a></li>
              </ul>
            </li>
            <% } %>
            <% if(user) {%>
                <li class="nav-item"><a href="/cart"><i class="fa-solid fa-cart-shopping"></i><span class="badge badge-secondary"><%= cart%></span></a></li>
              
            <% }else{ %>
              <li class="nav-item"><a href="/cart"><i class="fa-solid fa-cart-shopping"></i><span class="badge badge-secondary">0</span></a></li>
                <% } %>
      </ul>
      
    </div>
  </nav>